body {
  min-height: 500px;
  min-width: 500px;
}

@keyframes highlight-fade {
  0% {
    background-color: hsl(var(--primary) / 0.3);
  }
  50% {
    background-color: hsl(var(--primary) / 0.2);
  }
  100% {
    background-color: transparent;
  }
}
